{% extends 'base.twig' %}


{% block content %}
{% set archiveIntro = attribute(theme_options, cpt ~ '_archive_intro') %}

	<section class="section--first archiveCarrots">

		<div class="container">

			<div class="row fade-in delay-2" style="opacity: 0;">

				<div class="col-12">
					<div class="my-5">
						{{archiveIntro}}
					</div>
				</div>
			</div>

			<div class="row fade-in delay-4" style="opacity: 0;">

				{% for cpt in viewmodel.fetchPosts %}

					{% include 'molecules/carrotOverviewCard.twig' %}

				{% endfor %}

			</div>

		</div>
 
	</div>

</section>
{% endblock %}

