<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% endblock %}
    {% include 'base/variables.twig' %}
</head>
<body>

    <header>
        {% include 'organisms/navigation.twig' %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% include 'organisms/footer.twig' %}
    </footer>
</body>
</html>