<!DOCTYPE html>
<html>
	<head>
		{% block head %}{% endblock %}
	</head>
	<body>
		<main>
			{% include 'organisms/navigation.twig' %}

			{% block content %}{% endblock %}
		</main>

		{% include 'footer.twig' %}
	</body>
</html>
