.button {
    padding: rem(12) rem(42);

    @include to(md) {
        padding: rem(12) rem(24);
        font-size: $primaryFontSize;
    }

    &--primary {
        background: $primaryColor;
        color: $secondaryColor;
        border: solid rem(2) $primaryColor;
    }

    &--secondary {
        background: $secondaryColor;
        color: $primaryColor;
        border: solid rem(2) $secondaryColor;

        &:hover {
            color: $primaryColor;
        }
    }

    &--alternative {
        background: transparent;
        color: $secondaryColor;
        border: solid rem(2) $secondaryColor;

        &:hover {
            color: $secondaryColor;
        }

        .section--blue &,
        .section--black & {
            background: transparent;
            color: $primaryColor;
            border: solid rem(2) $primaryColor;

            a:hover {
                color: $primaryColor;
            }
        }
    }
}