.button {
    padding: px(12) px(42);

    @include to(md) {
        padding: px(12) px(24);
        color: var(--primary-font-size);;
    }

    &--primary {
        background: var(--primary-color);
        color: var(--secondary-color);
        border: solid px(2) var(--primary-color);
    }

    &--secondary {
        background: var(--secondary-color);
        color: var(--primary-color);
        border: solid px(2) var(--secondary-color);

        &:hover {
            color: var(--primary-color);
        }
    }

    &--alternative {
        background: transparent;
        color: var(--secondary-color);
        border: solid px(2) var(--secondary-color);

        &:hover {
            color: var(--secondary-color);
        }

        .section--dark & {
            background: transparent;
            color: var(--primary-color);
            border: solid px(2) var(--primary-color);

            a:hover {
                color: var(--primary-color);
            }
        }
    }
}