.carrotOverviewCard {
    border:solid 1px $secondaryColor;
    background: $primaryColor;
    padding: rem(20) rem(30);

    &__image {
        width: 80px;
        height: 80px;
        background: $alternativeColor;
        border-radius: rem(10);
    }

    h3 {
        color: $secondaryColor;
    }

    &__content {
        p {
            font-size: $primaryFontSize;
            text-align: center;
            color: $secondaryColor;
        }
    }
}