.archiveCPT {
    &__video {
        aspect-ratio: 1/1;
        transform:scale(1.1);
        position: relative;
        top:-5px;
    }

    &__header {
        &--primaryBG {
            background: var(--primary-color);
        }
    
        &--secondaryBG {
            background: var(--secondary-color);
        }
    
        &--tertiaryBG {
            background: var(--tertiary-color);
        }
        &--accentBG {
            background: var(--accent-color);
        }
    
        &--accentTwoBG {
            background: var(--accent-color-two);
        }

        &--primaryFont {
            h1,
            h2,
            h3,
            h4,
            h5,
            p,
            span,
            a:not(.button),
            strong {
                color: var(--primary-color);
            }
        }
    
        &--secondaryFont {
            h1,
            h2,
            h3,
            h4,
            h5,
            p,
            span,
            a:not(.button),
            strong {
                color: var(--secondary-color);
            }
        }
    
        &--tertiaryFont {
            h1,
            h2,
            h3,
            h4,
            h5,
            p,
            span,
            a:not(.button),
            strong {
                color: var(--tertiary-color);
            }
        }
    
    
    }
}