.footer {
    background: var(--secondary-color);

    span {
        font-size: var(--alternative-font-size);
        color: var(--primary-color);

        a {
            font-size: var(--alternative-font-size);
            font-weight: 400;
            color: var(--primary-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}