.hero {
    width: 100%;
    transition: opacity 0.4s ease;

    &__title {
        max-width: px(750);
        font-size: var(--hero-font-size);
        color: var(--primary-color);
    }

    &__content {
        max-width: px(750);
    }

    &__image {
        width: 100%;
        height: auto;
        min-height: px(420);
        max-height: 100vh;

        &--rounded {
            clip-path: circle(50% at 50% 50%);
            aspect-ratio: 1;
        }

        &--squared {
            aspect-ratio: 1/1;
        }

        &--fullHeight {
            aspect-ratio: 9/16;
        }
    }

    &__wrapper {
        height: 100vh;
    }

    h1 {
        font-size: var(--hero-font-size);
    }

}