.navigation {
    z-index: 99999;
    pointer-events: none;

    &--traditional {
        pointer-events: all;
        border-bottom: solid 1px #f2f2f2;
    }

    &--traditional {
        background: #fff;
    }

    &__hamburger {
        transform: translateX(10px)translateY(-10px);
        top: px(-60);
        right: px(-60);
        width: px(160);
        height: px(160);

        @include from(md) {
            transform: inherit;
        }
    }

    &__toggleBG {
        background: var(--primary-color);
        clip-path: circle(110px at 104% -1%);
        transition: 0.6s ease;
        transition-property: clip-path;

        @include from(md) {
            clip-path: circle(110px at 100% 0);
        }

        .navigation--focussed & {
            clip-path: circle(200% at 100% 0);
        }
    }

    &__toggleWrapper {
        left: px(40);
        bottom: px(36);
        width: px(36);
        height: px(48);
        row-gap: px(8);
        transition: 0.4s ease;
        transition-property: transform;
        pointer-events: all;
        cursor: pointer;

        .navigation--focussed & {
            transform: translateX(10px);
        }
    }

    &__bar {
        height: px(3);
        background: var(--secondary-color);
        transition: 0.4s ease;
        transition-property: transform, opacity;

        &--top {
            .navigation--focussed & {
                transform: rotate(45deg)translateY(15.50px);
            }
        }

        &--bottom {
            .navigation--focussed & {
                transform: rotate(-45deg)translateY(-15.50px);
            }
        }

        &--mid {
            .navigation--focussed & {
                transform: translateX(6px);
                opacity: 0;
            }
        }
    }

    &__list {
        pointer-events: none;
        row-gap: px(10);

        .navigation--focussed & {
            pointer-events: all;
        }
    }

    &__wrapper {
        transition: filter ease 0.4s;
    }

    &__item {
        opacity: 0;

        a {
            color: var(--secondary-color);

            &:hover {
                text-decoration: underline;
            }
        }

        &--traditional {
            opacity: 1;
    
            a {
                font-size: 16px;
                color: var(--primary-color);
                font-weight: 400;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    &__link {
        font-size: var(--navigation-font-size);
    }

    .current-menu-item {
        a {
            text-decoration: underline;
        }
    }
}