.pricingTable {

    a[data-bs-toggle="collapse"]:hover {
        .table__image--default {
            transform: scale(1.1);
        }
    }

    .table__image {
        &--bigImage {
            width: 100%;
            object-fit: cover;
            transition: transform ease 0.2s;
            aspect-ratio: 1;
            border-radius: 100%;
        }

        &--default {
            transition: transform ease 0.2s;
            margin-top: -18px;
            border-radius: 100%;
            border: solid 2px var(--accent-color);
            top: 0px;
            left: -20px;
        }
    }

    .fa-chevron-down {
        right: 20px;
        top: 28px;
    }
}