.singleCPT {
    &--primaryBG {
        background: var(--primary-color);
    }

    &--secondaryBG {
        background: var(--secondary-color);
    }

    &--tertiaryBG {
        background: var(--tertiary-color);
    }

}