.textImage {

    &__content {
        max-width: px(750);
        z-index: 4;

        @include to(md) {
            order: 1;
        }
    }

    &__videoOverlay {
        background: var(--secondary-color);
        opacity: 0.6;
        z-index: 2;
    }

    &__imageWrapper {
        @include to(md) {
            order: 2;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        clip-path: circle(50% at 50% 50%);
        aspect-ratio: 1;
    }

    &__wrapper {
        height: 100vh;
    }
}