.textImage {

    &__content {
        max-width: px(750);
        z-index: 4;

        @include to(md) {
            order: 1;
        }
    }

    &__imageWrapper {
        @include to(md) {
            order: 2;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        min-height: px(420);
        max-height: 100vh;

        &--rounded {
            clip-path: circle(50% at 50% 50%);
            aspect-ratio: 1;
        }

        &--squared {
            aspect-ratio: 1/1;
        }

        &--fullHeight {
            aspect-ratio: 9/16;
        }
    }

    &__wrapper {
        height: 100vh;
    }
}