.footer {
    background: $secondaryColor;

    span {
        font-size: $alternativeFontSize;
        color: $primaryColor;

        a {
            font-size: $alternativeFontSize;
            font-weight: 400;
            color: $primaryColor;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}