.footer {
    background: $secondaryColor;

    span {
        font-size: $alternativeFontSize;
        color: var(--primary-color);

        a {
            font-size: $alternativeFontSize;
            font-weight: 400;
            color: var(--primary-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}