.hero {
    height:auto;
    min-height: 100vh;
    transition: opacity 0.4s ease;

    &__title {
        max-width: rem(750);
        font-size: $heroFontSize;
        color: $primaryColor;

        @include to(md) {
        font-size: $heroFontSize;
        }
    }

    &__content {
        max-width: rem(750);
        color: $primaryColor;

    }

    &__image {
        &--big {
            width: rem(750);
        }

        &--top {
            z-index: 2;
        }

        &--bottom {
            z-index: 1;
        }
    }

    &__wrapper {
        height: 100vh;
    }
}