.hero {
    height:auto;
    min-height: 100vh;
    transition: opacity 0.4s ease;

    &__title {
        max-width: rem(750);
        font-size: var(--hero-font-size);
        color: var(--primary-color);
    }

    &__content {
        max-width: rem(750);
        color: var(--primary-color);

    }

    &__image {
        &--big {
            width: rem(750);
        }

        &--top {
            z-index: 2;
        }

        &--bottom {
            z-index: 1;
        }
    }

    &__wrapper {
        height: 100vh;
    }
}