.hero {
    height: auto;
    min-height: 100vh;
    transition: opacity 0.4s ease;

    &__title {
        max-width: px(750);
        font-size: var(--hero-font-size);
        color: var(--primary-color);
    }

    &__content {
        max-width: px(750);
    }

    &__image {
        &--big {
            width: px(750);
        }

        &--top {
            z-index: 2;
        }

        &--bottom {
            z-index: 1;
        }
    }

    &__wrapper {
        height: 100vh;
    }

    h1 {
        font-size: var(--hero-font-size);
    }

}