.showcase {

    &--desktop-website {
        width: 100%;
        z-index: 2;
        pointer-events: none;

        svg {
            pointer-events: none;
        }
    }

    &--mobile-website {
        width: rem(400);
        z-index: 2;
        pointer-events: none;

        svg {
            pointer-events: none;
        }
    }

    &--tablet-website {
        z-index: 2;
        pointer-events: none;

        svg {
            pointer-events: none;
        }
    }

    &--desktop-website-video {
        aspect-ratio: 16 / 9;
        border-style: solid;
        border-width: rem(5);
        z-index: 1;
    }

    &--tablet-website-iframe {
        aspect-ratio: 3 / 4;
        border-style: solid;
        border-width: rem(5);
        z-index: 1;
    }

    &--mobile-website-iframe {
        aspect-ratio: 9 / 16;
        border-style: solid;
        border-width: rem(5);
        z-index: 1;
    }

    &__typeWrapper {
        @include to(md) {
            order: 2;
        }
    }

    &__content {
        max-width: rem(750);
        z-index: 2;

        @include to(md) {
            order: 1;
        }
    }

    &__videoOverlay {
        background: #000;
        opacity: 0.6;
        z-index: 2;
    }

    &__image {
        width: rem(600);
        height: rem(600);
        clip-path: circle(50% at 50% 50%);
    }

    &__wrapper {
        height: 100vh;
    }
}