.textImage {

    &__content {
        max-width: px(750);
        z-index: 4;

        @include to(md) {
            order: 1;
        }
    }

    &__videoOverlay {
        background: $secondaryColor;
        opacity: 0.6;
        z-index: 2;
    }

    &__imageWrapper {
        @include to(md) {
            order: 2;
        }
    }

    &__image {
        width: px(600);
        height: px(600);
        clip-path: circle(50% at 50% 50%);

        @include to(md) {
            width: px(300);
            height: px(300);
        }
    }

    &__wrapper {
        height: 100vh;
    }
}