.carrotOverviewCard {
    border:solid 1px var(--secondary-color);
    background: var(--primary-color);
    padding: px(20) px(30);

    &__image {
        width: 80px;
        height: 80px;
        background: var(--grey-bg);
        border-radius: px(10);
    }

    h3 {
        color: var(--secondary-color);
    }

    &__content {
        p {
            color: var(--primary-font-size);;
            text-align: center;
            color: var(--secondary-color);
        }
    }
}