.carrotOverviewCard {
    border:solid 1px var(--primary-color);
    background: var(--secondary-color);

    &__image {

        &--large {
            width: 100%;
            height: 280px;
        }

        &--small {
            width: 140px;
            height: 140px;
            background: var(--grey-bg);
            border-radius: px(10);
        }
    }

    h3 {
        color: var(--primary-color);
    }

    &__content {
        p {
            color: var(--primary-font-size);;
            text-align: center;
            color: var(--primary-color);
        }
    }
}