.form {
    &--primary {
        background: var(--secondary-color);

        input {
            border: none;
            background: transparent;

            &:focus {
                outline: none;
            }
        }

        .form-control {
            background: var(--accent-color);
        }

        button[role="submit"] {
            transition: all ease 0.2s;
            padding: px(12) px(24);
            background: var(--primary-color);
            color: var(--secondary-color);
            border: solid 2px var(--primary-color);
            border-radius: px(6);

            &:hover {
                background: var(--secondary-color);
                color: var(--primary-color);
                border: solid 2px var(--primary-color);
            }
        }
    }
}