.section {
    padding:40px 0px;
    height:auto;
    min-height: 100vh;
    transition: background ease 0.4s;
    transition: opacity 0.4s ease;

    &--primaryFont {
        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        span,
        a:not(.button),
        strong {
            color: var(--primary-color);
        }
    }

    &--secondaryFont {
        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        span,
        a:not(.button),
        strong {
            color: var(--secondary-color);
        }
    }

    &--tertiaryFont {
        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        span,
        a:not(.button),
        strong {
            color: var(--tertiary-color);
        }
    }

    &--first {
        padding: 0;
    }

    &[data-inviewport="no"] {
        opacity: 0;
    }

    &--focussed {
        opacity: 1;
    }

    &--primaryBG {
        background: var(--primary-color);
    }

    &--secondaryBG {
        background: var(--secondary-color);
    }

    &--tertiaryBG {
        background: var(--tertiary-color);
    }
    &--accentBG {
        background: var(--accent-color);
    }

    &--blue {
        background: var(--blue-bg);
    }

    &--black {
        background: var(--secondary-color);
    }

    &--yellow {
        background: var(--yellow-bg);
    }

    &--pink {
        background: var(--pink-bg);
    }

    &--lightGrey {
        background: var(--grey-bg);
    }
}