.section {
    padding:40px 0px;
    height:auto;
    min-height: 100vh;
    transition: background ease 0.4s;
    transition: opacity 0.4s ease;

    &--hero {
        padding: 0;
    }

    &--video {
        padding: 0;
    }

    &--dark {
        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        span,
        a:not(.button),
        strong {
            color: var(--primary-color);
        }
    }

    &[data-inviewport="no"] {
        opacity: 0;
    }

    &--focussed {
        opacity: 1;
    }

    &--blue {
        background: var(--blue-bg);
    }

    &--black {
        background: $secondaryColor;
    }

    &--yellow {
        background: var(--yellow-bg);
    }

    &--pink {
        background: var(--pink-bg);
    }

    &--lightGrey {
        background: var(--grey-bg);
    }


    &--hero {

        h1 {
            font-size: var(--hero-font-size);
        }

    }
}