h1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h1-font-size);
    font-weight: 700;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h2-font-size);
    font-weight: 700;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h3-font-size);
    font-weight: 700;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h4-font-size);
    font-weight: 700;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h5-font-size);
    font-weight: 700;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h6-font-size);
    font-weight: 700;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: var(--primary-font-size-alt);
    line-height: 1.6em;
    font-weight: 700;

    @include to(md) {
        font-size: var(--primary-font-size);
    }

    a {
        font-family: 'Poppins', sans-serif;
        font-size: var(--primary-font-size);
        text-decoration: none;
        font-weight: 600;
        line-height: 1.6em;

        @include to(md) {
            font-size: var(--primary-font-size);
        }
    }
}

p, input, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--primary-font-size);
    line-height: 1.6em;

    @include to(md) {
        font-size: var(--primary-font-size);
    }

    a {
        font-family: 'Poppins', sans-serif;
        font-size: var(--primary-font-size);
        text-decoration: none;
        font-weight: 600;
        line-height: 1.6em;

        @include to(md) {
            font-size: var(--primary-font-size);
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: var(--primary-font-size);
    text-decoration: none;
    font-weight: 600;

    @include to(md) {
        font-size: var(--primary-font-size);
    }

    &:hover {
        color: inherit;
    }
}