@function px($value) {
  $rem: ($value / 16)+rem;
  @return $rem;
}

body,
html {
  overflow-x: hidden;
}

.circle {
  clip-path: circle(50% at 50% 50%);
  aspect-ratio: 1;
}

.blur {
  filter: blur(10px);
}

.border-white {
  border-color: var(--primary-color);
}

.border-black {
  border-color: var(--secondary-color);
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-bowser {
  z-index: 99999;
}

.gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.cover {
  object-fit: cover;
}

.object-center {
  object-position: center 50%;
}

.rounded-10 {
  border-radius: px(10);
}

.rounded-40-inner {
  border-radius: px(34);
}

.rounded-20 {
  border-radius: px(20);
}

.rounded-20-inner {
  border-radius: px(15);
}

.rounded-40 {
  border-radius: px(40);
}

@include to(md) {
  .order-m-1 {
    order: 1;
  }
  .order-m-2 {
    order: 2;
  }
}