@function px($value) {
  $rem: ($value / 16)+rem;
  @return $rem;
}

body,
html {
  overflow-x: hidden;
}

.blur {
  filter: blur(10px);
}

.border-white {
  border-color: var(--primary-color);
}

.border-black {
  border-color: var(--secondary-color);
}

.z-4 {
  z-index: 4;
}

.z-9 {
  z-index: 9;
}

.grey {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.cover {
  object-fit: cover;
}

.object-center {
  object-position: center 50%;
}

.rounded-10 {
  border-radius: px(10);
}

.rounded-40-inner {
  border-radius: px(34);
}

.rounded-20 {
  border-radius: px(20);
}

.rounded-20-inner {
  border-radius: px(15);
}

.rounded-40 {
  border-radius: px(40);
}

.overlay-dark {
  background:rgba(0,0,0, 0.5);
  z-index: 2;
}

.overlay-light {
  background:rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.mt-10 {
  margin-top: 5rem !important;
}