<section data-inviewport="no" class="section carrotOverview {{fields.background ? fields.background}} textImage d-flex align-items-center justify-content-center">

	<div class="container">

		<div class="row">

			<div class="col-12 {{ fields.image ? 'col-md-6' }} d-flex flex-column align-items-center justify-content-center" style="perspective:1000px;">

				{% if fields.title %}
					<h2 class="textImage__title text-center">{{fields.title}}</h2>
				{% endif %}
				{% if fields.content %}
					<div class="textImage__content text-center">
						{{fields.content}}
					</div>

				{% endif %}

			</div>

		</div>

		{% if fields.cpt %}

			<div class="row mt-4">

				{% for cpt in viewmodel.fetchPosts %}

					{% include 'molecules/carrotOverviewCard.twig' %}

				{% endfor %}

			</div>

		{% endif %}

		<div class="row">

			<div class="text-center mt-5">

				{% include 'atoms/button.twig' with {
		'url': '/carrots/',
		'title': 'Browse full catalog',
		'classes': 'button--alternative d-inline-flex'
		}
	%}

			</div>

		</div>

	</div>

</section>

