{% set content = fields.content ? fields.content : cpt_options.featured_posts_content %}
{% set title = fields.title ? fields.title : item.title %}
{% set cpt_select = fields.cpt_select ? fields.cpt_select : cpt_options.featured_posts_select %}
{% set background = fields.background_color ? fields.background_color : cpt_options.featured_posts_background_color %}
{% set bgImage = fields.background_image ? fields.background_image : cpt_options.featured_posts_background_image %}
{% set bgVideo = fields.background_video ? fields.background_video : cpt_options.featured_posts_background_video %}
{% set cardType = fields.card_type ? fields.card_type : cpt_options.featured_posts_card_type %}

<section data-inviewport="no" class="section carrotOverview {{background ? background}} textImage d-flex align-items-center justify-content-center">

	<div class="container">

		<div class="row">

			<div class="col-12 {{ fields.image ? 'col-md-6' }} d-flex flex-column align-items-center justify-content-center" style="perspective:1000px;">

				{% if title %}
					<h2 class="textImage__title text-center">{{title}}</h2>
				{% endif %}
				{% if content %}
					<div class="textImage__content text-center">
						{{content}}
					</div>

				{% endif %}

			</div>

		</div>

		{% if cpt_select %}

			<div class="row mt-4">

				{% for cpt in viewmodel.fetchFeatured %}
					{% include 'molecules/carrotOverviewCard.twig' with {
						'card_type': cardType
					}%}
				{% endfor %}

			</div>
	
		{% endif %}

		<div class="row">

			<div class="text-center mt-5">

				{% include 'atoms/button.twig' with {
		'url': viewmodel.fetchFeatured[0].archive_link,
		'title': 'Browse full catalog',
		'classes': 'button--alternative d-inline-flex'
		}
	%}

			</div>

		</div>

	</div>

</section>

