<footer class="footer p-3 mt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 footer__copyright d-flex">

				<div class="col-9 d-flex align-items-center justify-content-start">

					<span>Copyright &copy; 2023 - Showcase - All rights reserved</span>

				</div>

				<div class="col-3 d-flex align-items-center justify-content-end">
					<span>
						<a href="/privacy-policy/">Privacy Policy</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</footer>
